
html,body,header,p,h1,form,code,button,label,input,a { 
    padding:0;margin:0;font-size:15px;letter-spacing:0.5px;line-height:20px;color:#eee;}

html { background-color: #888; }
body { width: 550px; margin-left: 30px; margin-top: 30px; }

header { margin-bottom: 2em; margin-left: -30px; padding: 5px; 
	 padding-left:30px; background-color:#eee; color:#888; }
header p { font-size:1.5em; line-height:1.1em; color:#888; margin-bottom:0;}

p { width:100%; margin-bottom:0.7em; }
a:visited { color:#eee; }

h1 { line-height: 1.1em; letter-spacing: 0.1em; font-size: 2em; 
     font-weight: 100; margin-bottom: 1.5em;  }

form { margin-top: 1.5em; clear:both;}

button { border: none; text-decoration: underline; margin-top:0.5em; 
	 background-color: transparent; margin:0;font-size:1em;cursor:pointer; }

label { width: 100%; font-size: 1.1em; letter-spacing: 0.065em; margin-top:5px; }
input { width: 244px; margin-bottom: 0.2em; border: 1px solid #444;
	font-size: 0.8em;padding:0.2em; color:#666; }

input[type=checkbox] { width:10px; float:right; margin:0; padding:0; margin-top:5px; }


#part-1 { width: 250px; float: left; margin-right: 10px; position: relative; }
#part-2 { width: 250px; float: left; margin-left: 10px; position: relative; }
